:root {
    --primary-bg-clr: #f0e1dc;
    --secondary-bg-clr: #D9ABAB;
    --primary-btn-clr: #921A40;
    --accent-color: #cebaeb;
    --primary-text-clr: #333;
    --secondary-text-clr: #B692C2;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*------------- 
Default Styles
--------------- */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--primary-bg-clr);
    color: #333;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1720402958832-80dcfd7f4850?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
}

a {
    color: #333;
}

input {
    font: inherit;
    border: 1px solid var(--primary-btn-clr);
    border-radius: 0.5rem;
}

.primary-btn {
    background-color: var(--primary-btn-clr);
    color: #fff;
    border: none;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    outline: none;
    border-radius: 0.5rem;
    transition: all 0.3s;
    font: inherit;
}

.primary-btn:hover {
    filter: brightness(130%);
}

.secondary-btn {
    background-color: var(--primary-bg-clr);
    color: var(--primary-text-clr);
    padding: 0.25rem 2rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    border: none;
    font: inherit;
    border-radius: 0.5rem;
}

.secondary-btn:hover {
    filter: brightness(60%);
}

/*--------------
Header Section
---------------*/
main {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}

.container {
    max-width: 100vw;
    height: 4rem;
    background-color: var(--secondary-bg-clr);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 2rem;
    transition: all 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}

nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    gap: 2rem;
    font-weight: 500;
}

.nav-links li {
    list-style: none;
}

.nav-links .nav-link-item a:hover {
    color: var(--primary-btn-clr);
    transition: all 0.4s;
}

/*----------------
Food Section
-----------------*/

.form-container {
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    width: 147%;
    max-width: 600px;
    height: auto;
    margin-left: 2rem;
    margin-top: 2rem;
}

.my-form {
    display: flex;
    flex-direction: column;
}

.my-form label {
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: #333;
}

.my-form input,
.my-form textarea {
    margin-bottom: 1rem;
    padding: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    font-size: 0.8rem;
}

.ingradients {
    display: flex;
    flex-direction: column;
}

.todo {
    display: flex;
    flex-direction: column;
}

/*---------------
Tarif Section
-----------------*/
#tarif {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    width: 60%;
    gap: 3rem;
    margin-left: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 6rem;
    overflow: hidden;
}

.content {
    border-right: 1px solid var(--primary-text-clr);
}

h3 {
    margin: 2rem 0 1.5rem 0;
}

.list {
    margin-bottom: 2rem;
    line-height: 1.7;
}

/*------------
Footer Section 
---------------*/
footer {
    background-color: var(--primary-btn-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

footer p {
    color: #fff;
}